* {
    font-family: Input Mono;
    font-size: 16px;
    margin: 0;
    border: 0;
}

window#waybar {
    background-color: #211f1f;
}

button {
    color: #a1a1a1;
    padding: 0 4px;
    min-height: 16px;
}

tooltip {
    background-color: #211f1f;
}

tooltip label {
    color: #a1a1a1;
}

#workspaces,
#tray,
#pulseaudio,
#cpu,
#memory,
#clock {
    color: #a1a1a1;
    padding: 0 20px;
}

#pulseaudio:hover {
    background-color: #3b3939;
}

.modules-left>widget:first-child>#workspaces {
    padding-left: 0;
}


#workspaces button.active {
    background-color: #3f3d3d;
}